<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="per.wph.redis.mybatis.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="xml/UserInfoMapper.xml"/>
        <mapper resource="xml/SysRoleMapper.xml"/>
        <mapper resource="xml/SysPermissionMapper.xml"/>
        <mapper resource="xml/OwnerInfoMapper.xml"/>
    </mappers>

</configuration>