<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="per.wph.redis.mybatis.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="xml/UserInfoMapper.xml"/>
        <mapper resource="xml/SysRoleMapper.xml"/>
        <mapper resource="xml/SysPermissionMapper.xml"/>
        <mapper resource="xml/OwnerInfoMapper.xml"/>
        <mapper resource="xml/CommunityInfoMapper.xml"/>
        <mapper resource="xml/BuildingInfoMapper.xml"/>
        <mapper resource="xml/FaceFeatureMapper.xml"/>
        <mapper resource="xml/EquipmentInfoMapper.xml"/>
        <mapper resource="xml/OwnerFeatureMapper.xml"/>
        <mapper resource="xml/BuildingOwnerMapper.xml"/>
        <mapper resource="xml/CommunityOwnerMapper.xml"/>
        <mapper resource="xml/CommunityBuildingMapper.xml"/>
        <mapper resource="xml/VisitorInfoMapper.xml"/>
        <mapper resource="xml/OwnerVisitorMapper.xml"/>
        <mapper resource="xml/VisitorFeatureMapper.xml"/>
        <mapper resource="xml/RecordOwnerVisitMapper.xml"/>
        <mapper resource="xml/RecordStrangerVisitMapper.xml"/>
        <mapper resource="xml/RecordVisitorVisitMapper.xml"/>
    </mappers>

</configuration>