<div class="tpl-content-wrapper">
    <div style="background-color: white;height: 800px;margin-top: 20px;padding: 20px;">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">业主信息管理</strong> / <small>manage</small></div>
        </div>
        <div class="am-tabs am-margin" data-am-tabs="">
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">等待处理事务</a></li>
                <li><a href="#tab2">已经完成事务</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <div id="jsGrid1">
                    </div>
                </div>

                <div class="am-tab-panel am-fade" id="tab2">
                    <div id="jsGrid2">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>