<div>
    <div style="background-color: white;height: 800px;margin-top: 20px;padding: 20px;">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">工作人员进出情况</strong> / <small>一些常用模块</small></div>
        </div>
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}"><span
                    class="am-icon-chevron-down am-fr"></span></div>
            <div class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
                <ul class="am-list admin-content-file">
                    <li>
                        <strong><span class="am-icon-upload"></span> 保洁员: 王阿姨</strong>
                        <p><font size="3" color="#00008b">正在执行工作</font>&nbsp开始时间:2018/3/20 20:18&nbsp授权时长:2小时0分钟&nbsp截至时间:2018/3/20 22:18  </p>
                        <div class="am-progress am-progress-striped am-progress-sm am-active">
                            <div class="am-progress-bar am-progress-bar-success" style="width: 82%">82%</div>
                        </div>
                    </li>
                    <li>
                        <strong><span class="am-icon-upload"></span> 外卖员: K2633</strong>
                        <p><font size="3" color="red">已经超时！</font>&nbsp开始时间:2018/3/20 20:18&nbsp授权时长:2小时0分钟&nbsp截至时间:2018/3/20 22:18  </p>
                        <div class="am-progress am-progress-striped am-progress-sm am-active">
                            <div class="am-progress-bar am-progress-bar-success" style="width: 100%">100%</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>