<!-- page specific plugin styles -->
<link rel="stylesheet" href="/assets/css/bootstrap-duallistbox.min.css"/>
<link rel="stylesheet" href="/assets/css/bootstrap-multiselect.min.css"/>
<link rel="stylesheet" href="/assets/css/select2.min.css"/>        <!-- page specific plugin styles -->
<link rel="stylesheet" href="/assets/css/bootstrap-duallistbox.min.css"/>
<link rel="stylesheet" href="/assets/css/bootstrap-multiselect.min.css"/>
<link rel="stylesheet" href="/assets/css/select2.min.css"/>

<!-- page specific plugin styles -->
<link rel="stylesheet" href="/assets/css/jquery-ui.custom.min.css"/>
<link rel="stylesheet" href="/assets/css/chosen.min.css"/>
<link rel="stylesheet" href="/assets/css/bootstrap-datepicker3.min.css"/>
<link rel="stylesheet" href="/assets/css/bootstrap-timepicker.min.css"/>
<link rel="stylesheet" href="/assets/css/daterangepicker.min.css"/>
<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" href="/assets/css/bootstrap-colorpicker.min.css"/>

<!-- page specific plugin styles -elements-->
<link rel="stylesheet" href="/assets/css/jquery.gritter.min.css" />
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    设置保存标签名
                </h4>
            </div>
            <div class="modal-body">
                <input type="text" id="modal-text">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-button">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        预定义配置
                    </div>
                    <div class="panel-body">
                        <p id="labellist">
                            <button type="button" class="btn btn-white">外卖人员</button>
                            <button type="button" class="btn btn-white btn-default">快递人员</button>
                            <button type="button" class="btn btn-white btn-primary">送水人员</button>
                            <button type="button" class="btn btn-white btn-info" id="cleaner">保洁人员</button>
                            <button type="button" class="btn btn-white btn-success">临时访客</button>
                        </p>
                        <p>
                            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">
                                保存当前配置
                            </button>
                            <button class="btn btn-danger btn-block">删除配置</button>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        临时授权配置
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <ul class="ace-thumbnails clearfix">

                                    <li>
                                        <a href="#" data-rel="colorbox"
                                           class="cboxElement">
                                            <img width="150" height="150" alt="150x150"
                                                 src="/assets/images/gallery/thumb-1.jpg">
                                            <div class="text">
                                                <div class="inner">选择这张</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-rel="colorbox"
                                           class="cboxElement">
                                            <img width="150" height="150" alt="150x150"
                                                 src="/assets/images/gallery/thumb-2.jpg">
                                            <div class="text">
                                                <div class="inner">选择这张</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-rel="colorbox"
                                           class="cboxElement">
                                            <img width="150" height="150" alt="150x150"
                                                 src="/assets/images/gallery/thumb-3.jpg">
                                            <div class="text">
                                                <div class="inner">选择这张</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="tabbable tabs-below">
                                    <div class="tab-content">
                                        <div id="home2" class="tab-pane">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="id-date-range-picker-1">限定时间期间</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <label>
                                                        <input name="switch-field-1" class="ace ace-switch ace-switch-6"
                                                               type="checkbox">
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
																	<span class="input-group-addon">
																		<i class="fa fa-calendar bigger-110"></i>
																	</span>

                                                        <input class="form-control" type="text" name="date-range-picker"
                                                               id="id-date-range-picker-1">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>限定固定时间段</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <label>
                                                        <input name="switch-field-1" class="ace ace-switch ace-switch-6"
                                                               type="checkbox">
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group bootstrap-timepicker">
                                                        <input id="timepicker1" type="text" class="form-control">
                                                        <span class="input-group-addon">
																<i class="fa fa-clock-o bigger-110"></i>
															</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group bootstrap-timepicker">
                                                        <input id="timepicker2" type="text" class="form-control">
                                                        <span class="input-group-addon">
																<i class="fa fa-clock-o bigger-110"></i>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="profile2" class="tab-pane">
                                            <div class="row">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="form-field-5">时限</label>

                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input readonly="" class="col-md-6" type="text"
                                                               id="form-field-5" placeholder="180分钟">
                                                    </div>

                                                    <div class="space-2"></div>

                                                    <div class="help-block ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                                                         id="input-span-slider">
                                                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
                                                             style="width: 45%;"></div>
                                                        <span class="ui-slider-handle ui-state-default ui-corner-all"
                                                              tabindex="0" style="left: 45%;"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="nav nav-tabs">
                                        <li class="">
                                            <a data-toggle="tab" href="#home2" aria-expanded="false">定期人员</a>
                                        </li>

                                        <li class="" id="myTab2">
                                            <a data-toggle="tab" href="#profile2" aria-expanded="false">一次性人员</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <select multiple="multiple" size="10" name="duallistbox_demo1[]" id="duallist">
                                        <option value="option1" selected="selected">正大门</option>
                                        <option value="option2" selected="selected">东大门</option>
                                        <option value="option3" selected="selected">16栋</option>
                                        <option value="option4">14栋</option>
                                        <option value="option5">12栋</option>
                                        <option value="option6">13栋</option>
                                        <option value="option7">15栋</option>
                                        <option value="option8">08栋</option>
                                        <option value="option9">19栋</option>
                                        <option value="option0">06栋</option>
                                    </select>

                                    <div class="hr hr-16 hr-dotted"></div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" id="buttonaffirm" type="button">确认授权</button>
                            </div>
                        </form>
                        <hr>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        今日已授权
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12" id="widget-container-col-2">

                                <div>
                                    <div class="widget-main no-padding">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead class="thin-border-bottom">
                                            <tr>
                                                <th>
                                                    <i class="ace-icon fa fa-user"></i>
                                                    角色
                                                </th>

                                                <th>
                                                    <i>@</i>
                                                    分配时限
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody id="tbody">
                                            <tr>
                                                <td class="">外人人员</td>

                                                <td>
                                                    <a>180分钟</a>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td class="">快递人员</td>

                                                <td>
                                                    <a>180分钟</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="">自定义</td>

                                                <td>
                                                    <a>50分钟</a>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td class="">保洁人员</td>

                                                <td>
                                                    <a>120分钟</a>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td class="">快递人员</td>

                                                <td>
                                                    <a>30分钟</a>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.span -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- page specific plugin scripts -->
<script src="/assets/js/jquery.bootstrap-duallistbox.min.js"></script>
<script src="/assets/js/jquery.raty.min.js"></script>
<script src="/assets/js/bootstrap-multiselect.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/jquery-typeahead.js"></script>
<!-- page specific plugin scripts -->
<script src="/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/chosen.jquery.min.js"></script>
<script src="/assets/js/spinbox.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/bootstrap-timepicker.min.js"></script>
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/daterangepicker.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="/assets/js/jquery.knob.min.js"></script>
<script src="/assets/js/autosize.min.js"></script>
<script src="/assets/js/jquery.inputlimiter.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="/assets/js/bootstrap-tag.min.js"></script>
<!-- page specific plugin scripts -elements-->
<script src="/assets/js/jquery.gritter.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox({infoTextFiltered: '<span class="label label-purple label-lg">Filtered</span>'});
        var container1 = demo1.bootstrapDualListbox('getContainer');
        container1.find('.btn').addClass('btn-white btn-info btn-bold');

        /**var setRatingColors = function() {
					$(this).find('.star-on-png,.star-half-png').addClass('orange2').removeClass('grey');
					$(this).find('.star-off-png').removeClass('orange2').addClass('grey');
				}*/
        $('.rating').raty({
            'cancel': true,
            'half': true,
            'starType': 'i'
            /**,

             'click': function() {
						setRatingColors.call(this);
					},
             'mouseover': function() {
						setRatingColors.call(this);
					},
             'mouseout': function() {
						setRatingColors.call(this);
					}*/
        })//.find('i:not(.star-raty)').addClass('grey');


        //////////////////
        $('.multiselect').multiselect({
            enableFiltering: true,
            enableHTML: true,
            buttonClass: 'btn btn-white btn-primary',
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span> &nbsp;<b class="fa fa-caret-down"></b></button>',
                ul: '<ul class="multiselect-container dropdown-menu"></ul>',
                filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
                filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-white btn-grey multiselect-clear-filter" type="button"><i class="fa fa-times-circle red2"></i></button></span>',
                li: '<li><a tabindex="0"><label></label></a></li>',
                divider: '<li class="multiselect-item divider"></li>',
                liGroup: '<li class="multiselect-item multiselect-group"><label></label></li>'
            }
        });


        ///////////////////

        //typeahead.js
        //example taken from plugin's page at: https://twitter.github.io/typeahead.js/examples/
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({value: str});
                    }
                });

                cb(matches);
            }
        }

        $('input.typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            name: 'states',
            displayKey: 'value',
            source: substringMatcher(ace.vars['US_STATES']),
            limit: 10
        });


        ///////////////


        //in ajax mode, remove remaining elements before leaving page
        $(document).one('ajaxloadstart.page', function (e) {
            $('[class*=select2]').remove();
            $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox('destroy');
            $('.rating').raty('destroy');
            $('.multiselect').multiselect('destroy');
        });

        $("#input-span-slider").slider({
            value: 1,
            range: "min",
            min: 1,
            max: 12,
            step: 1,
            slide: function (event, ui) {
                var val = parseInt(ui.value);
                // $('#form-field-5').attr('class', 'col-xs-'+val).val('.col-xs-'+val);
                $('#form-field-5').val(val * 30 + "分钟");
            }
        });

        //to translate the daterange picker, please copy the "examples/daterange-fr.js" contents here before initialization
        $('input[name=date-range-picker]').daterangepicker({
            'applyClass': 'btn-sm btn-success',
            'cancelClass': 'btn-sm btn-default',
            locale: {
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
            }
        })
            .prev().on(ace.click_event, function () {
            $(this).next().focus();
        });

        $('#timepicker1').timepicker({
            minuteStep: 1,
            showSeconds: true,
            showMeridian: false,
            disableFocus: true,
            icons: {
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down'
            }
        }).on('focus', function () {
            $('#timepicker1').timepicker('showWidget');
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('#timepicker2').timepicker({
            minuteStep: 1,
            showSeconds: true,
            showMeridian: false,
            disableFocus: true,
            icons: {
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down'
            }
        }).on('focus', function () {
            $('#timepicker2').timepicker('showWidget');
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $("#modal-button").click(function () {
            $("#labellist").append("<button class=\"btn btn-white\" type=\"button\">" + $("#modal-text").val() + "</button>");
        });

        $("#cleaner").click(function () {
            $("#profile2").addClass('active');
            $("#myTab2").addClass('active');
        });
        $("#buttonaffirm").click(function () {
            $("#tbody").append("<tr><td>快递人员</td><td><a>30分钟<a/></td></tr>")
        })
        $('#buttonaffirm').on(ace.click_event, function(){
            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '授权成功',
                // (string | mandatory) the text inside the notification
                text: ' 成功授权:<a href="#" class="orange">短期授权，时限:60分钟</a>',
                class_name: 'gritter-success' + (!$('#gritter-light').get(0).checked ? ' gritter-light' : '')
            });

            return false;
        });
        $('.ace-thumbnails.clearfix').children('li').click(function () {
            var target = $(this);
            var chils = $('.ace-thumbnails.clearfix').children('li');
            chils.each(function (index,element) {
                if(!target.is(element)){
                    element.remove();
                }
            })
        })
    });
</script>
