

        <div class="row">
            <div class="col-md-12">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">智能在线监控</strong> / <small>一些常用模块</small></div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br>今日累计进出数目<br>156</a></li>
                <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br>当前运行设备数目<br>6</a></li>
                <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br>今日报警次数<br>0</a></li>
                <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br>小区在线业主<br>1006</a></li>
            </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div id="jsGrid" style="padding-top: 20px;">
            </div>
            </div>
        </div>