<div class="row">
  <h1>业主反馈留言</h1>
        <div class="am-panel am-panel-default" style="margin-top: 30px;">
            <div class="am-panel-bd am-collapse am-in am-cf" id="collapse-panel-3">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">新消息</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">已回复</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">所有消息</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                   <ul class="am-comments-list admin-content-comment">
                    <li class="am-comment item">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time>
                            <button class="pull-right" data-toggle="modal" data-target="#myModal">回复</button>
                          </div>
                        </header>
                        <div class="am-comment-bd"><p>以前办理的水卡还有二百多，现在小区换了售水机以前售水机不能用了，同悦物业说必须再交二百才能用，否则以前水卡就不能用了。像我这种情况很多。大家都感觉这不是强迫购买吗，以前的还没用完还得再交钱才能用。如果不属于开发区管理，属于物价局还是房管局物业管理科管？希望有关部门赶紧处理</p>
                        </div>
                      </div>
                    </li>

                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time>
                          <button class="pull-right" data-toggle="modal" data-target="#myModal">回复</button></div>
                        </header>
                        <div class="am-comment-bd"><p>卫生方面，花园的绿化带很多垃圾，就算是居委会的人来到检查，叫他们整改，他们都不整改，所以有些业主连物管费都不交，所以搞到一塌糊涂。公共地方有不少卫生死角，例如停车场、花园里面，清扫的间隔比较长</p>
                        </div>
                      </div>
                    </li>

                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time>
                          <button class="pull-right" data-toggle="modal" data-target="#myModal">回复</button></div>
                        </header>
                        <div class="am-comment-bd"><p>保安巡查的力度是不够的，出入都不严，因为之前失窃都是晚上，保安很少巡逻。</p>
                        </div>
                      </div>
                    </li>

                    <li class="am-comment itemlast">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time>
                          <button class="pull-right" data-toggle="modal" data-target="#myModal">回复</button></div>
                        </header>
                        <div class="am-comment-bd"><p>电梯经常坏，维修时间又长，我们出入不方便，因为住高层的住户爬楼梯很辛苦的，维修时间很长，有时候一个月才维修好。我们那栋楼的电梯试过两个星期才维修好，我们爬楼梯很辛苦。</p>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                  <ul class="am-comments-list admin-content-comment">
                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time><button class="pull-right" data-toggle="modal" data-target="#Modal">查看回复详情</button>
                          </div>
                        </header>
                        <div class="am-comment-bd"><p>以前办理的水卡还有二百多……</p>
                        </div>
                      </div>
                    </li>

                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time><button class="pull-right" data-toggle="modal" data-target="#Modal">查看回复详情</button></div>
                        </header>
                        <div class="am-comment-bd"><p>卫生方面，花园的绿化带很多垃圾……</p>
                        </div>
                      </div>
                    </li>

                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time><button class="pull-right" data-toggle="modal" data-target="#Modal">查看回复详情</button></div>
                        </header>
                        <div class="am-comment-bd"><p>保安巡查的力度是不够的……</p>
                        </div>
                      </div>
                    </li>

                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time><button class="pull-right" data-toggle="modal" data-target="#Modal">查看回复详情</button></div>
                        </header>
                        <div class="am-comment-bd"><p>电梯经常坏，维修时间又长……</p>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                  <ul class="am-comments-list admin-content-comment">
                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time>
                          </div>
                        </header>
                        <div class="am-comment-bd"><p>以前办理的水卡还有二百多，现在小区换了售水机以前售水机不能用了，同悦物业说必须再交二百才能用，否则以前水卡就不能用了。像我这种情况很多。大家都感觉这不是强迫购买吗，以前的还没用完还得再交钱才能用。如果不属于开发区管理，属于物价局还是房管局物业管理科管？希望有关部门赶紧处理</p>
                        </div>
                      </div>
                    </li>

                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time></div>
                        </header>
                        <div class="am-comment-bd"><p>卫生方面，花园的绿化带很多垃圾，就算是居委会的人来到检查，叫他们整改，他们都不整改，所以有些业主连物管费都不交，所以搞到一塌糊涂。公共地方有不少卫生死角，例如停车场、花园里面，清扫的间隔比较长</p>
                        </div>
                      </div>
                    </li>

                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time></div>
                        </header>
                        <div class="am-comment-bd"><p>保安巡查的力度是不够的，出入都不严，因为之前失窃都是晚上，保安很少巡逻。</p>
                        </div>
                      </div>
                    </li>

                    <li class="am-comment">
                      <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                      <div class="am-comment-main">
                        <header class="am-comment-hd">
                          <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time></div>
                        </header>
                        <div class="am-comment-bd"><p>电梯经常坏，维修时间又长，我们出入不方便，因为住高层的住户爬楼梯很辛苦的，维修时间很长，有时候一个月才维修好。我们那栋楼的电梯试过两个星期才维修好，我们爬楼梯很辛苦。</p>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>

             
              <ul class="am-pagination am-fr admin-content-pagination">
                <li class="am-disabled"><a href="#">«</a></li>
                <li class="am-active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
</div>
<!-- mymodal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">回复</h4>
      </div>
      <div class="modal-body">
        <div style="margin: 10px 150px;">
          <textarea cols="20" style="width: 100%;height: 200px;"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary confirmbtn" data-dismiss="modal">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <!-- modal -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabe2" id="Modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabe2">回复详情</h4>
        </div>
        <div class="modal-body">
          <ul class="am-comments-list admin-content-comment">
            <li class="am-comment">
              <a href="#"><img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
              <div class="am-comment-main">
                <header class="am-comment-hd">
                  <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a>
                  </div>
                </header>
                <div class="am-comment-bd"><p>以前办理的水卡还有二百多，现在小区换了售水机以前售水机不能用了，同悦物业说必须再交二百才能用，否则以前水卡就不能用了。像我这种情况很多。大家都感觉这不是强迫购买吗，以前的还没用完还得再交钱才能用。如果不属于开发区管理，属于物价局还是房管局物业管理科管？希望有关部门赶紧处理</p>
                </div>
              </div>
            </li>
            <li class="am-comment  am-comment-flip">
              <a href="#"><img src="../static/images/k.jpg" alt="" class="am-comment-avatar" width="48" height="48"></a>
              <div class="am-comment-main">
                <header class="am-comment-hd">
                  <div class="am-comment-meta"><a href="#" class="am-comment-author">
                  </div>
                </header>
                <div class="am-comment-bd feedback"><p></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary confirmbtn2" data-dismiss="modal">确定</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
