<div class="tpl-content-wrapper">
    <div style="background-color: white;height: 800px;margin-top: 20px;padding: 20px;">
        <h1>进出情况查询</h1>
        <div class="sort-panel">
            <label>Sorting Field:
                <select id="sortingField">
                    <!-- <option>Avator</option> -->
                    <option>Name</option>
                    <option>Enter Time</option>
                    <option>Leaving Time</option>
                    <option>Host</option>
                    <option>Building</option>
                    <option>Entrance</option>
                </select>
                <button type="button" id="sort">Sort</button>
            </label>
        </div>

        <div id="jsGrid" style="padding-top: 20px;">
        </div>
    </div>   
</div>