
<div>
    <div style="background-color: white;height: 800px;margin-top: 20px;padding: 20px;">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg">业主在住情况</strong> / <small>Gallery</small>
                </div>
            </div>

            <hr>

            <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1401</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1402</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1501</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1502</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1601</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1602</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status2.png" alt="">
                        <div class="gallery-title">1701</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1702</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status2.png" alt="">
                        <div class="gallery-title">1801</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1802</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1901</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">1902</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="/images/status1.png" alt="">
                        <div class="gallery-title">2000</div>
                        <div class="gallery-desc">2375-09-26</div>
                    </a>
                </li>
            </ul>

            <div class="am-margin am-cf">
                <hr>
                <p class="am-fl">共 15 条记录</p>
                <ol class="am-pagination am-fr">
                    <li class="am-disabled"><a href="#">«</a></li>
                    <li class="am-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ol>
            </div>
        </div>

    </div>
</div>