<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.wph.info.mapper.relation.BuildingOwnerMapper" >
  <resultMap id="BaseResultMap" type="per.wph.info.model.relation.BuildingOwner" >
    <result column="bid" property="bid" jdbcType="BIGINT" />
    <result column="oid" property="oid" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByBid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select bid,oid,num
    from building_owner
    where bid = #{oid,jdbcType=BIGINT}
  </select>
  <select id="selectByOid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select bid,oid,num
    from building_owner
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from building_owner
    where bid = #{bid,jdbcType=BIGINT}
    and oid = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="per.wph.info.model.relation.BuildingOwner" >
    insert into building_owner (bid, oid,num)
    values (#{bid,jdbcType=BIGINT}, #{oid,jdbcType=BIGINT},#{num,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select bid, oid,num
    from building_owner
  </select>
</mapper>