<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.wph.info.mapper.CommunityInfoMapper" >
  <resultMap id="BaseResultMap" type="per.wph.info.model.CommunityInfo" >
    <id column="cid" property="cid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="resident_num" property="residentNum" jdbcType="INTEGER" />
    <result column="property_company" property="propertyCompany" jdbcType="VARCHAR" />
    <result column="developer" property="developer" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from community_info
    where cid = #{cid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="per.wph.info.model.CommunityInfo" useGeneratedKeys="true" keyProperty="cid">
    insert into community_info (cid, name, location, resident_num,
      property_company, developer, type, 
      description)
    values (#{cid,jdbcType=BIGINT},#{name,jdbcType=VARCHAR} #{location,jdbcType=VARCHAR}, #{residentNum,jdbcType=INTEGER},
      #{propertyCompany,jdbcType=VARCHAR}, #{developer,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="per.wph.info.model.CommunityInfo" >
    update community_info
    set name = #{name,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      resident_num = #{residentNum,jdbcType=INTEGER},
      property_company = #{propertyCompany,jdbcType=VARCHAR},
      developer = #{developer,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select cid, name,location, resident_num, property_company, developer, type, description
    from community_info
    where cid = #{cid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select cid, name,location, resident_num, property_company, developer, type, description
    from community_info
  </select>
  <select id="selectAllUnDetail" resultMap="BaseResultMap" >
    select cid, name, description
    from community_info
  </select>
</mapper>