<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.wph.info.mapper.OwnerInfoMapper" >
  <resultMap id="BaseResultMap" type="per.wph.info.model.OwnerInfo" >
    <id column="oid" property="oid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="BIT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="idnumber" property="idnumber" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="isadmin" property="isadmin" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
    <resultMap id="OwnerInfoView" type="per.wph.info.model.view.OwnerInfoView">
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="idnumber" property="idnumber" jdbcType="VARCHAR" />
        <result column="communityName" property="communityName" jdbcType="VARCHAR" />
        <result column="buildingName" property="buildingName" jdbcType="VARCHAR" />
        <result column="num" property="num" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>
  <select id="selectOwnerAndBuildingInfoByAdminUsername" parameterType="java.lang.String" resultMap="OwnerInfoView">
    select user_info.username,owner_info.*,community_info.`name` as communityName,building_info.location as buildingName,building_owner.num
    from user_info,owner_info,community_info,building_info,building_owner
    where owner_info.oid in (select oid from community_owner
    where oid = (select uid from user_info
    where username = #{username,jdbcType=VARCHAR}))
    and user_info.uid = owner_info.oid
    and owner_info.oid = building_owner.oid
    group by oid;
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="OwnerInfoView">
    select user_info.username,owner_info.*,community_info.`name` as communityName,building_info.location as buildingName,building_owner.num
    from user_info,owner_info,community_info,building_info,building_owner
    where owner_info.oid = (select uid from user_info
    where username = #{username,jdbcType=VARCHAR})
    and user_info.uid = owner_info.oid
    and owner_info.oid = building_owner.oid
    group by oid;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from owner_info
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="per.wph.info.model.OwnerInfo" useGeneratedKeys="true" keyProperty="oid">
    insert into owner_info (oid, name, gender, 
      phone, email, idnumber, 
      birthday, isadmin, description, 
      status)
    values (#{oid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{idnumber,jdbcType=VARCHAR},
      #{birthday,jdbcType=TIMESTAMP}, #{isadmin,jdbcType=BIT}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="per.wph.info.model.OwnerInfo" >
    update owner_info
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      idnumber = #{idnumber,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      isadmin = #{isadmin,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select oid, name, gender, phone, email, idnumber, birthday, isadmin, description, 
    status
    from owner_info
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select oid, name, gender, phone, email, idnumber, birthday, isadmin, description, 
    status
    from owner_info
  </select>
</mapper>