<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.wph.info.mapper.OwnerInfoMapper" >
  <resultMap id="BaseResultMap" type="per.wph.info.model.OwnerInfo" >
    <id column="oid" property="oid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="BIT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="idnumber" property="idnumber" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="isadmin" property="isadmin" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from owner_info
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="per.wph.info.model.OwnerInfo" useGeneratedKeys="true" keyProperty="oid">
    insert into owner_info (oid, name, gender, 
      phone, email, idnumber, 
      birthday, isadmin, description, 
      status)
    values (#{oid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{idnumber,jdbcType=INTEGER}, 
      #{birthday,jdbcType=TIMESTAMP}, #{isadmin,jdbcType=BIT}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="per.wph.info.model.OwnerInfo" >
    update owner_info
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      idnumber = #{idnumber,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      isadmin = #{isadmin,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select oid, name, gender, phone, email, idnumber, birthday, isadmin, description, 
    status
    from owner_info
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select oid, name, gender, phone, email, idnumber, birthday, isadmin, description, 
    status
    from owner_info
  </select>
</mapper>