<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.wph.info.mapper.OwnerInfoMapper" >
  <resultMap id="BaseResultMap" type="per.wph.info.model.OwnerInfo" >
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="BIT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="idnumber" property="idnumber" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="isadmin" property="isadmin" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="per.wph.info.model.OwnerInfo" >
    insert into owner_info (uid, name, gender, 
      phone, email, idnumber, 
      birthday, isadmin, description
      )
    values (#{uid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{idnumber,jdbcType=INTEGER}, 
      #{birthday,jdbcType=TIMESTAMP}, #{isadmin,jdbcType=BIT}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="per.wph.info.model.OwnerInfo" >
    insert into owner_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="idnumber != null" >
        idnumber,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="isadmin != null" >
        isadmin,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=BIT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        #{idnumber,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="isadmin != null" >
        #{isadmin,jdbcType=BIT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>