<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.wph.info.mapper.relation.VisitorFeatureMapper" >
  <resultMap id="BaseResultMap" type="per.wph.info.model.relation.VisitorFeature" >
    <result column="vid" property="vid" jdbcType="BIGINT" />
    <result column="fid" property="fid" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="per.wph.info.model.relation.VisitorFeature" >
    insert into visitor_feature (vid, fid)
    values (#{vid,jdbcType=BIGINT}, #{fid,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select vid, fid
    from visitor_feature
  </select>
</mapper>